/* -----------------------------------------------------------------------
== GENERAL ==
------------------------------------------------------------------------*/
body {
	overflow-x: hidden;
}

a,
a:hover,
a:focus, {
	text-decoration: none;
}

/* -----------------------------------------------------------------------
== HEADER & MEGA MENU ==
------------------------------------------------------------------------*/
.top-bar {
	padding: 0;
	background-color: #24943D;
}

.top-bar li a {
	font-weight: 300;
}

.top-bar ul.social-icon {
	float: right;
}

.top-bar .social-icon li {
	display: inline-block;
	padding: 5px 8px;
}

nav.navbar ul.mx-auto {
	margin-right: 0 !important;
}

nav.navbar {
	background-color: #29A745;
}

/* -----------------------------------------------------------------------
== MODAL ==
------------------------------------------------------------------------*/
.modal-footer-cst {
	padding: 10px 10px 10px 10px;
    border-top: 1px solid #DDDDDD;
    text-align: center;
}

.img-responsive {
	width: 100%;
	height: auto;
}

.btn-gradient {
	background: #29A745;
	color: #FFFFFF !important;
	font-weight: 300 !important;
	letter-spacing: .5px;
}

.btn-gradient:focus {
	-webkit-box-shadow: 0 0 0 0.2rem rgba(62, 175, 87, 0.40);
    box-shadow: 0 0 0 0.2rem rgba(62, 175, 87, 0.40);
}

/* -----------------------------------------------------------------------
== THUMBNAILS ==
------------------------------------------------------------------------*/
.thumb-product-title a {
	text-decoration: none !important;
}

.box-thumbnails {
	text-align: center;
	cursor: pointer;
}

.thumb-product-caption {
	padding: 10px;
}

.box-thumbnails p {
	font-size: 14px;
}

.box-thumbnails p,
.box-thumbnails h6 {
	color: #444444;
	line-height: 24px;
}

.box-thumbnails-footer {
	padding: 8px 10px;
	text-align: center;
	border-top: 1px solid #DDDDDD;
}

.box-thumbnails-footer a.btn {
	letter-spacing: 1px;
}

/* -----------------------------------------------------------------------
== OTHER ==
------------------------------------------------------------------------*/
.apartments-slider .property {
	box-shadow: none;
	border: 1px solid #DDDDDD;
}

.apartments-slider .property:hover {
	box-shadow: 0 10px 30px #d6dee4;
}

.apartments-slider .property:before {
	display: none;
}

.about .image {
	height: auto;
}

.portfolio {
	margin-bottom: 30px !important;
}

.portfolio-section {
	padding: 40px;
}

.box-thumbnails:last-child {
	margin-bottom: 0;
}

/* -----------------------------------------------------------------------
== RESPONSIVE ==
------------------------------------------------------------------------*/
/* Media MAX */
@media (max-width: 480px) {

}

@media (max-width: 768px) {
	.show-lg {
		display: none;
	}

	.top-bar {
		text-align: center;
	}

	.top-bar .col-lg-12 {
		padding-right: 0;
		padding-left: 0;
	}

	.top-bar ul.list-inline li a {
		font-size: 12px !important;
		font-weight: 300;
	}

	.box-thumbnails p {
		font-size: 13px !important;
		line-height: 18px;
	}
}

@media (max-width: 992px) {
	.main-header {
		padding: 20px;
		width: 100%;
	}

	.main-header .navbar-toggler {
		float: right;
		margin-top: 20px;
	}

	.navbar-collapse {
		background: #24943D;
	}

	.navbar.navbar-expand-lg {
		padding: 0;
	}

	ul.navbar-nav > li {
		padding-right: 20px;
		padding-left: 20px;
		border-bottom: 1px solid #29A745;
	}

	ul.navbar-nav li ul li {
		padding-left: 20px;
	}

	ul.navbar-nav li ul li a:hover {
		color: #FFD41C !important;
	}

	.dropdown-menu.megamenu {
		background: transparent;
	}

	.megamenu strong::after {
		display: none;
	}

	.megamenu strong,
	.megamenu ul a,
	nav.navbar .nav-link {
		font-size: 0.8rem !important;
	}

	.list-inline-item:not(:last-child) {
		margin-right: 0;
	}
}

@media (max-width: 1200px) {

}

/* Media MIN */
@media (min-width: 480px) {

}

@media (min-width: 768px) {
	.top-bar ul.list-inline {
		float: left;
	}
}

@media (min-width: 992px) {
	.dropdown-menu {
		background: #FFFFFF;
	}

	.megamenu strong {
		color: #555555;
	}

	.megamenu ul a {
		color: #555555 !important;
	}

	.megamenu strong::after {
		background: #29A745;
	}

	.megamenu ul a:hover {
		color: #29A745 !important;
	}
}

@media (min-width: 1200px) {

}
